@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <style>
        .chat {
            height: 200px;
            overflow-y: auto;
        }

        .custom-quote {
            font-size: 14.5px;
            margin: 0 0 4px;
        }

        .blue {
            border-left: 5px solid #00aedb;
        }

        .red {
            border-left: 5px solid #d11141;
        }

        .spectrumReplacer {
            border-radius: 4px;
            background-color: #337ab7;
            border: solid 1px #337ab7;
            padding: 8px;
            width:80px;
        }

        .spectrumReplacer:hover {
            border: solid 1px #337ab7;
        }

        .sp-preview{
            margin-left:15px;
        }

        .spectrumContainer {
            border-radius: 4px;
            background-color: #337ab7;
            color: #ffffff;
        }
    </style>
}

<canvas id="testCanvas" width="1140" height="600"></canvas>

<div class="row">
    <div class="container-fluid col-md-6 col-md-offset-3">
        <div class="panel panel-default" style="margin-top: 0; border-radius: 0px 0px 4px 4px; background-color: #333; border-color: #333;">
            <div class="panel-body">
                <div class="col-md-3">
                    <input type='text' id="color" class="sp-dark" />
                </div>
                <div class="col-md-3">
                    <div id="size" style="margin-top:15px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="clear" class="btn btn-primary btn-block">Reset</div>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="nombre" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:50px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <label>WOW, A CHAT!</label>
            </div>
            <div class="panel-body" style="padding:15px 0 15px 0;">
                <div id="chat" class="container-fluid chat" style="margin-bottom:20px;">
                </div>
                <div class="col-md-10" style="padding-right:0px;">
                    <input type="text" id="textMessage" class="form-control" style="max-width:inherit; border-radius: 4px 0px 0px 4px;" />
                </div>
                <div class="col-md-2" style="padding-left:0px;">
                    <div id="sendMessage" class="btn btn-primary btn-block" style="border-radius: 0px 4px 4px 0px;">Send</div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <label><span id ="usuariosConectados"></span> users connected</label>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Content/spectrum/spectrum.js")"></script>
    <script src="~/Scripts/debounce.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var myCanvas = $('#testCanvas');
            var colorPicker = $("#color");
            var sizeElement = $("#size");
            var usuariosLabel = $("#usuariosConectados");
            var chatBox = $("#chat");
            var chatBtn = $("#sendMessage");
            var chatText = $("#textMessage");
            var textNombre = $("#nombre");

            var nombre = "Anonymous";
            textNombre.val(nombre);

            myCanvas.css('background-color', '#333');
            myCanvas.css('border-radius', '4px');

            if (myCanvas) {
                var isDown = false, coordinates = [];
                var ctx = myCanvas[0].getContext("2d");
                var canvasX, canvasY;
                ctx.lineWidth = 30;
                ctx.lineJoin = ctx.lineCap = 'round';

                $(myCanvas)
                .mousedown(function (e) {
                    isDown = true;
                    coordinates.push({ x: e.pageX - myCanvas[0].offsetLeft, y: e.pageY - myCanvas[0].offsetTop });
                })
                .mousemove(function (e) {
                    if (isDown != false) {
                        if (coordinates.length < 200) {
                            coordinates.push({ x: e.pageX - myCanvas[0].offsetLeft, y: e.pageY - myCanvas[0].offsetTop });
                        }
                        drawArray(coordinates, colorPicker.spectrum('get').toHexString(), sizeElement.slider("option", "value"));
                    }
                });

                // touch listeners
                $(myCanvas)[0].addEventListener('touchstart', function (e) {
                    e.preventDefault();
                    isDown = true;
                    coordinates.push({ x: e.touches[0].pageX - myCanvas[0].offsetLeft, y: e.touches[0].pageY - myCanvas[0].offsetTop });
                }, false);

                $(myCanvas)[0].addEventListener('touchmove', function (e) {
                    if (isDown != false) {
                        if (coordinates.length < 200) {
                            coordinates.push({ x: e.touches[0].pageX - myCanvas[0].offsetLeft, y: e.touches[0].pageY - myCanvas[0].offsetTop });
                        }
                        drawArray(coordinates, colorPicker.spectrum('get').toHexString(), sizeElement.slider("option", "value"));
                    }
                }, false);

                function drawArray(pointsArray, color, width) {
                    ctx.beginPath();
                    ctx.lineWidth = width;
                    ctx.strokeStyle = color;
                    ctx.moveTo(pointsArray[0].x, pointsArray[0].y);
                    for (var i = 1; i < pointsArray.length; i++) {
                        ctx.lineTo(pointsArray[i].x, pointsArray[i].y);
                    }
                    ctx.stroke();
                    ctx.closePath();
                };

                // draw client count
                function updateTextCount(count) {
                    usuariosLabel.text(count);
                }

                // clear canvas
                function clearCanvas() {
                    ctx.clearRect(0, 0, myCanvas[0].width, myCanvas[0].height);
                };

                $("#clear").click(function () {
                    clearCanvas();
                });

                // random color at first
                var rand = Math.floor(Math.random() * 3) + 1;
                var randColor;
                switch (rand) {
                    case 1:
                        randColor = "#e33";
                        break;
                    case 2:
                        randColor = "#3e3";
                        break;
                    case 3:
                        randColor = "#33e";
                        break;
                    default:
                        randColor = "#333";
                }

                // color picker
                colorPicker.spectrum({
                    color: randColor,
                    replacerClassName: "spectrumReplacer",
                    containerClassName: "spectrumContainer",
                    change: function (color) {
                        ctx.strokeStyle = color.toHexString();
                    }
                });

                // slider
                $("#size").slider({
                    orientation: "horizontal",
                    range: "min",
                    min: 1,
                    max: 80,
                    value: ctx.lineWidth
                });

                // enter key plugin
                $.fn.pressEnter = function (fn) {

                    return this.each(function () {
                        $(this).bind('enterPress', fn);
                        $(this).keyup(function (e) {
                            if (e.keyCode == 13) {
                                $(this).trigger("enterPress");
                            }
                        })
                    });
                };

                // client chat code
                // yes, you can 'hack' this thing
                function chatAddMessage(name, message, color, scroll) {
                    var msjBlock = $("<blockquote class='custom-quote " + color + "'>"
                                + "<p><strong>" + message + "</strong></p>"
                                + "<footer>" + name + "</footer>"
                                + "</blockquote> ").hide();

                    chatBox.append(msjBlock);

                    msjBlock.fadeIn("fast");

                    if (scroll == true) {
                        scrollToBottomAnim();
                    }

                    // lets change the color!
                    colorHandler();
                };

                function scrollToBottomAnim() {
                    chatBox.animate({ scrollTop: chatBox[0].scrollHeight }, 1000);
                };

                var color = "red";
                function colorHandler() {
                    if (color == "red") {
                        color = "blue";
                    }
                    else {
                        color = "red";
                    }
                };

                // check if windows has focus
                var windowHasFocus = true;

                $(window).focus(function () {
                    windowHasFocus = true;
                    document.title = "ASP.Net MVC - SignalR - Drawing board";
                });

                $(window).blur(function () {
                    windowHasFocus = false;
                });

                // title handler
                function titleHandler() {
                    if (windowHasFocus == true) {
                        document.title = "ASP.Net MVC - SignalR - Drawing board";
                    }
                    else {
                        document.title = "Nuevo mensaje " + "ASP.Net MVC - SignalR - Drawing board";
                    }
                }

                // add to messages for testing
                chatAddMessage("Console", "You can start typing down there :P", color, false);
                chatAddMessage("Console", "I feel a strong disturbance in the force.", color, false);

                // Server connection
                // SignalR code

                $.connection.hub.logging = true;

                var hub = $.connection.drawingBoard;
                var connected = false;

                hub.state.name = nombre;

                textNombre.change(function (e) {
                    nombre = textNombre.val();
                    hub.state.name = nombre;
                });

                // mouse listener
                $(document).mouseup(function (e) {
                    // prints a message to the javascript console
                    $.connection.hub.log(JSON.stringify(coordinates));
                    // it's 2 because i don't want an empty array to be sended to the server
                    if (coordinates.length > 2) {
                        hub.server.broadcastArray(coordinates, colorPicker.spectrum('get').toHexString(), sizeElement.slider("option", "value"));
                    }
                    isDown = false;
                    coordinates.length = 0;
                });

                // touch listener
                $(myCanvas)[0].addEventListener('touchend', function (e) {
                    // prints a message to the javascript console
                    $.connection.hub.log(JSON.stringify(coordinates));
                    // it's 2 because i don't want an empty array to be sended to the server
                    if (coordinates.length > 2) {
                        hub.server.broadcastArray(coordinates, colorPicker.spectrum('get').toHexString(), sizeElement.slider("option", "value"));
                    }
                    isDown = false;
                    coordinates.length = 0;
                }, false);

                $("#clear").click(function () {
                    if (connected) {
                        hub.server.broadcastClear();
                    }
                });

                function sendHelper() {
                    var message = chatText.val();
                    chatText.val("");

                    if (message.length > 0) {
                        chatAddMessage(nombre, message, color, true);
                    }

                    return message;
                }

                // chat handlers
                chatBtn.click($.debounce(250, true, function (e) {
                    var message = sendHelper();

                    if (connected && message.length > 0) {
                        hub.server.broadcastMessage(message);
                    };
                }));

                chatText.pressEnter($.debounce(250, true, function () {
                    var message = sendHelper();

                    if (connected && message.length > 0) {
                        hub.server.broadcastMessage(message);
                    };
                }));

                // Event handlers
                hub.client.clear = function () {
                    clearCanvas();
                };

                hub.client.drawArray = function (array, dcolor, size) {
                    drawArray(array, dcolor, size);
                };

                hub.client.updateClientCount = function (count) {
                    updateTextCount(count);
                };

                hub.client.updateBoard = function (array) {
                    array.forEach(function (element) {
                        drawArray(element.points, element.color, element.size);
                    });
                };

                hub.client.addMessage = function (name, message) {
                    chatAddMessage(name, message, color, true);
                    titleHandler();
                };

                hub.client.clientConnected = function () {
                    chatAddMessage("Console", "Someone has just connected", color, true);
                };

                hub.client.clientDisconnected = function () {
                    chatAddMessage("Console", "Someone has just disconnected", color, true);
                };

                hub.client.updateChat = function (array) {
                    array.forEach(function (element) {
                        chatAddMessage(element.Name, element.mMessage, color, false);
                    });
                    scrollToBottomAnim();
                };

                // Starts the connection!
                $.connection.hub.start()
                .done(function () {
                    connected = true;
                });
            }

        });
    </script>
}